.album {
 .media-container {
   img {
     width:100%;
   }
 } 
}




.track {
  .track-number {
    margin-right:0.5em;
  }
}

.product-links {
  .link {
    display:block;
  }
 .row {
   border:1px solid black;
   text-align:left;
   padding:0.5em;
 }
}
