.header {
  background:@black;
  color:white;
  &.active {
    background:white;
    color:@black;
  }
}
.social-nav {
  overflow:hidden;
  padding:0;
  margin:0;
  list-style:none;
  li {
    display:inline-block;
    margin:0.25em;
    padding:0.25em;
    &:first-of-type {
      margin-left:0;
    }
    .fa {
      font-size:1.6em;
    }
    &:hover.facebook {
      color:@facebook;
    }
    &:hover.twitter {
       color:@twitter;
    }
    &:hover.soundcloud {
       color:@soundcloud;
    }
    &:hover.youtube {
       color:@google;
    }
    &:hover.instagram {
       color:@instagram;
    }
    &:hover.google-plus {
       color:@google;
    }
  }
}

.menu-trigger {
  font-weight: 100;
  font-size: 1.5em;
  cursor:pointer;
}

.logo {
  
}

.header {
  position:fixed;
  width:100%;
  top:0;
  z-index:9999;
  box-shadow: 0 0 36px -12px black;
  .header-inner {
    position:relative;
    height:3.4em;
    .menu-trigger, .logo, .social-nav {
      vertical-align:middle;
      position:absolute;
    }
    .logo {
      left:50%;
      margin-left:-3.5em;
      width:7em;
    }
    .menu-trigger {
      right:1em;
      top:0;
    }
    .social-nav {
      left: 1em;
      top:0.45em;
    }
  }
  .header-inner, .menu-overlay {
    padding:0.25em 1em;
  }
  .menu-overlay {
    position:absolute;
    .fill;
    background:white;
    .close {
      top: 1em;
      right: 1em;
    }
    .main-menu {
      text-align:center;
      a {
        margin:0.5em;
        padding:0.25em;
        line-height: 3em;
        &:hover, &.active {
          opacity:0.5;
        }
      }
    }
  }
}

.header {
@media all and (max-width:800px){ //mobile
    .menu-overlay {
      position:relative;
      .main-menu {
       & > a {
          line-height:1em;
          font-size:1.3em;
          margin:0.75em 0;
        }
      }
      a {
        display:block;
      }
    }
    .header-inner .logo {
      left:1em;
      margin-left:0;
    }
    .social-nav {
      display:none;
    }
    .social-nav.nested {
      display:block;
    }
    &.active {
      .header-inner {
        display:none;
      }
    }
}
@media all and (min-width:800px){ //desktop
    .social-nav.nested {
      display:none;
    }
  }
}
