.photo {
  .photo-inner {
    margin:0.5em;
    overflow:hidden;
    position:relative;
    a {
      display:block;
    }
    img {
      width:100%;
    }
    .meta {
      .caption {
        margin: 0.5em 0;
      }
    }
  }
}
.photo.excerpt {
  .photo-inner {
    &:hover {
      .meta {
        opacity:1;
      }
    }
  }
  .meta {
    opacity:0;
    .meta-inner {
      padding:1em;
      text-align:center;
    }
    .fill;
    background:fade(white, 80%);
  }
}
