.video {
  
}

.video.excerpt {
  h4{
    color: @black; //example of a LESS variable being used.
    font-size: 1em;
    text-transform: capitalize;
    text-align: left;
  }
  a {
    position:relative;
    display:block;
    .icon-overlay {
      position:absolute;
      top:50%;
      margin-top:-0.5em;
      margin-left:-0.5em;
      font-size:1.5em;
      left:50%;
      color:white;
      display:block;
      border:2px solid white;
      border-radius:9999px;
      background:rgba(0,0,0,0.7);
      padding:0.5em;
      height:2em;
      width:2em;
      text-align:center;
      .fa {
        line-height:1em;
        margin-left:0.075em;
      }
    }
  }
  .preview-image {
    width:100%;
  }
}
 
.video.full {
  h2{
    color: @black; //example of a LESS variable being used. - @black is defined at the top of framework.less
    font-size: 1.8em;
    text-align: left; 
    float: left;  
  }
  .description {
    color: #000000;//can this be inherited automatically? try and avoid specifying things
    //unless their absolutely needed, because IE if client requests color change, you'll have to change every instance of this, instead of just one.
    font-size: 1em; //Same as above
    text-transform: none;
  }
  .share {
    width: 450px;//remember what I said about always using em or % :)
    
    float: right;
    vertical-align: top;
    padding-top: 1%;//padding or margins I would consider a non-relative measurement, and would almost always use em.
  }
  
}


.VideosCtrl {
  .video.full {
    margin:1em auto;
    max-width:1400px;   
  }
  .close {
    position:absolute;
    top:0.5em;
    right:0.5em;
    z-index:999;
    cursor:pointer;
    .fa {
      font-size:1.5em;
    }
  }
}
