<article class="album full">
	<div class="album-inner">
		<div class="media-container">
			<img src="{{a.image.sizes.medium.url}}" width="{{a.image.sizes.medium.width}}" height="{{a.image.sizes.medium.height}}" alt="{{a.image.alt}}">
		</div>		
		<h2 class="title">{{a.title}}</h2>
		<h3 class="subtitle date release-date">{{ a.date | time }}</h3>
		<div class="content" ng-bind-html="a.conten"></div>
		<div class="tracklist">
			<div ng-repeat="t in a.tracklisting" class="track excerpt">
				<div class="track-inner">
					<div class="track-header">
						<span class="track-number">{{$index}}</span><span class="track-title">{{t.title}}</span>
					</div>
					<div class="extra-information" ng-show="state">
						<div class="lyrics" ng-bind-html="t.lyrics"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="product-links">
			<div class="row"  ng-repeat="l in a.links">
				<i class="fa fa-{{l.link_type}}"></i>
				<a ng-href="{{l.link_url}}" target="{{l.link_target}}">{{l.link_text}}</a>
			</div>
		</div>
	</div>
</article>
