<div class="share">
    <div class="addthis_toolbox">
        <a class="engage-button" ng-click="openTwitterShare()">
            <div class="engage-button-inner twitter button">
                <i class="fa fa-twitter"></i> Tweet
            </div>
        
        </a><a class="addthis_button_facebook engage-button"
            addthis:url="{{url}}"
            addthis:title="{{title}}"
            addthis:description="{{desc}}">
            <div class="engage-button-inner facebook button">
                <i class="fa fa-facebook"></i> Share
            </div>
        
        <!--<div class="engage-button facebook-like">
            <div class="engage-button-inner facebook button">
                <a class="addthis_button_facebook_like"></a>
            </div>
        </div>-->
        </a><a class="addthis_button_google_plusone_share engage-button"
            addthis:url="{{url}}"
            addthis:title="{{title}}"
            addthis:description="{{desc}}">    
            <div class="engage-button-inner google button">
                <i class="fa fa-google-plus"></i> Share
            </div>
</a><!--<a class=" engage-button" ng-click="sharePinterest()"
            addthis:url="{{url}}"
            addthis:title="{{title}}"
            addthis:description="{{desc}}">        
            <div class="engage-button-inner pinterest button">
                <i class="fa fa-pinterest"></i> Pin it
            </div>
     </a>-->
    </div>
</div>