<div class="video-container"  itemtype="http://schema.org/VideoObject">
	<div class="video video-replace"></div>
	<meta itemprop="name" content="{{yt.snippet.title}}"/>
	<meta itemprop="duration" content="{{yt.contentDetails.duration}}"/>
	<meta itemprop="thumbnail" content="{{yt.snippet.thumbnails.standard.url}}"/>
	<meta itemprop="description" content="{{yt.snippet.description}}"/>
	<img class="seo-kludge" src="{{yt.snippet.thumbnails.standard.url}}" width="{{yt.snippet.thumbnails.standard.width}}" height="{{yt.snippet.thumbnails.standard.height}}" alt="{{yt.snipper.title}}"/>
</div>