<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="prototypeApp" class="{{currentController}}">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header class="header" ng-class="{active : showMenu}">
        <div class="header-inner">
            <ul class="social-nav">
              <li class="social-item" ng-class="n.name" ng-repeat="n in menus.social">
                <a href="{{n.url}}">
                  <i class="fa" ng-class="n.css"></i>
                </a>
              </li>
            </ul>
            <a class="logo" href="#/">
              <img src="images/logo.png" />
            </a>
            <h1 class="menu-trigger" ng-click="showMenu = 1">Menu</h1>
        </div>
        <div class="menu-overlay" ng-show="showMenu">
          <div class="close" ng-click="showMenu = 0">
            <i class="fa fa-times"></i>
          </div>
          <nav class="main-menu">
            <!-- <a ng-repeat="i in menus.main" href="#{{i.url}}"> -->
            <a ng-repeat="i in menus.main" ng-click="ScrollTo(i.url); alert('clicked');" href="">
            {{i.name}}
            </a>
          </nav>
        </div>
    </header>
    <div class="wrapper">
        <div class="container" ng-view=""></div>
    </div>
    <ng-include src="'partials/footer.html'"></ng-include>
    
    <script type="text/ng-template" id="template/carousel/carousel.html">
        <div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" no-anim>
            <div class="carousel-inner" ng-transclude=""></div>
            <div class="carousel-controls" ng-show="slides.length > 1">     
              <div class="prev r-arrow" ng-click="prev()" ng-show="slides.length > 1"><i class="fa fa-chevron-left"></i></div>
              <span ng-repeat="slide in slides track by $index" ng-if="isActive(slide)">{{ $index + 1 }}</span> / {{slides.length}}
              <div class="next r-arrow" ng-click="next()"  ng-show="slides.length > 1"><i class="fa fa-chevron-right"></i></div>
            </div>
        </div>
    </script>   
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jQuery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <script src="bower_components/nt-youtube/nt-youtube.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="bower_components/eventie/eventie.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script src="bower_components/jquery-waypoints/waypoints.js"></script>
    <!-- endbower -->
    <script src="scripts/vendor/skrollr.min.js"></script>
    <script src="scripts/vendor/fitvids.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/config.js"></script>
        <script src="scripts/directives/promotion.js"></script>
        <script src="scripts/directives/youtube.js"></script>
        <script src="scripts/directives/photo-excerpt.js"></script>
        <script src="scripts/filters/time.js"></script>
        <script src="scripts/directives/share.js"></script>
        <script src="scripts/directives/youtube-background.js"></script>
        <script src="scripts/controllers/exmaple-releases.js"></script>
        <script src="scripts/controllers/_related.js"></script>
        <script src="scripts/services/cacheservice.js"></script>
        <script src="scripts/directives/video-excerpt.js"></script>
        <script src="scripts/directives/skrollr-bg.js"></script>
        <script src="scripts/directives/skrollr-promo.js"></script>
        <script src="scripts/controllers/video.js"></script>
        <script src="scripts/controllers/sign-up.js"></script>
        <script src="scripts/services/back.js"></script>
        <script src="scripts/directives/back.js"></script>
        <script src="scripts/controllers/videos.js"></script>
        <script src="scripts/directives/select-slide.js"></script>
        <script src="scripts/controllers/photos.js"></script>
        <script src="scripts/directives/photo-full.js"></script>
        <script src="scripts/directives/album-full.js"></script>
        <script src="scripts/directives/album-excerpt.js"></script>
        <script src="scripts/services/scroll-to.js"></script>
        <script src="scripts/directives/link-handler.js"></script>
        <!-- endbuild -->
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52de4733263c4c40"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</body>
</html>
