<section class="summary">
  <div ng-show="post.related">
  	The following related content types were found:
  	<span ng-repeat="(key, value) in post.related"> {{key}},
  	</span>
  </div>
  <div ng-hide="post.related">
    No relationships found, sorry!
  </div>
</section>

<section class="photos section">
	<photo-excerpt class="flexibox" ng-repeat="i in post.related.images" image="i"></photo-excerpt>	
</section>
<section class="videos section">
	<article class="video" ng-repeat="v in post.related.videos">
	    <youtube yt-id="v.youtube_object.id"></youtube>
	    <h1>{{v.title}}</h1>
	</article>
</section>
<section class="">
	
</section>
