<section class="summary">
  <div ng-show="post.related">
  	The following related content types were found:
  	<span ng-repeat="(key, value) in post.related"> {{key}},
  	</span>
  </div>
  <div ng-hide="post.related">
    No relationships found, sorry!
  </div>
</section>

<section class="photos section">
	<photo-excerpt class="flexibox" ng-repeat="i in post.related.images" image="i"></photo-excerpt>	
</section>
<section class="videos section">
	<article class="video" ng-repeat="v in post.related.videos">
	    <youtube yt-id="v.youtube_object.id"></youtube>
	    <h1>{{v.title}}</h1>
	</article>
</section>

<section class="tracks section">
  <div class="tracklist">
      <span class="tracklisting-title">Tracklist</span>
      <div ng-repeat="t in post.related.tracks" class="track excerpt">
        <div class="track-inner">
          <div class="track-header">
            <span class="track-number">{{$index+1}}.</span><span class="track-title">{{t.title}}</span>
          </div>
          <div class="extra-information" ng-show="state">
            <div class="lyrics" ng-bind-html="t.lyrics"></div>
          </div>
        </div>
      </div>
    </div>
</section>


<section class="">
	
</section>
