<section class="top-promotion">
     <promotion class="big" promotion="page.promotions[0]"></promotion>
</section>

<section class="videos section">
    <h2 class="section-title">Videos</h2>
    <carousel>
        <slide ng-repeat="videos in video_chunks" class="slide">
           <video-excerpt class="video flexibox" ng-repeat="v in videos" video="v">
          </video-excerpt>
        </slide>
    </carousel>
</section>
<promotion class="lyric" promotion="page.promotions[1]"></promotion>


<section class="tour  section">
    <h2 class="section-title">Live</h2>
    <ng-include src="'views/tour.html'"></ng-include>
</section>

<promotion class="lyric" promotion="page.promotions[2]"></promotion>

<section class="albums section">
    <h2 class="section-title">Music</h2>
    <carousel>
        <slide ng-repeat="albums in album_chunks" class="slide">
                <ng-include src="'partials/album_full.html'" ng-repeat="a in albums"></ng-include>
        </slide>
    </carousel>
</section>
<promotion class="lyric" promotion="page.promotions[3]"></promotion>

<section class="photos section">
    <h2 class="section-title">Photos</h2>
    <carousel>
        <slide ng-repeat="images in image_chunks" class="slide">
            <photo-excerpt class="flexibox" ng-repeat="i in images" image="i"></photo-excerpt>
        </slide>
    </carousel>
</section>

<promotion class="lyric" promotion="page.promotions[4]"></promotion>

<section class="sign-up section SignUpCtrl">
    <ng-include src="'views/sign-up.html'" ng-controller="SignUpCtrl"></ng-include>
</section>