<div class="tour-container" ng-class="{active : showTour}">
  <!-- <iframe name="easyXDM_4218621_2258_provider" id="easyXDM_4218621_2258_provider" class="songkick-widget" frameborder="0" src="http://widget.songkick.com/songkick-widget.html?artist=4218621&amp;header=Tour%20dates&amp;theme=dark#xdm_e=http%3A%2F%2Fwww.londongrammar.com&amp;xdm_c=4218621_2258&amp;xdm_p=1" style="width: 100%;"></iframe> -->
  <a href="http://www.songkick.com/artists/4218621" class="songkick-widget" data-theme="dark">Tour dates</a>
</div>
<div class="button tour-expand-button" ng-click="showTour = !showTour">
  <span ng-show="!showTour">
    View more
  </span>
  <span ng-show="showTour">
    View less
  </span>
</div>
<script src="//widget.songkick.com/widget.js"></script>